@import 'partials/normalize';
@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/typography';

body {
    background: #e5e5e5;
}

@import 'partials/button';

#logs {
    padding: $padding;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            padding-left: $padding;
            text-indent: -$padding;
        }
    }
}